.scroll-container {
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap; /* prevent line breaks in content */
}

.scroll-content {
  display: inline-block;
}

.scroll-item {
  display: inline-block;
  margin-right: 20px; /* add some spacing between items */
  width: 1000px;
}
img{
  width: 100%;
}